.o-container{
  margin-right:auto;
  margin-left:auto;
  padding-right:10px;
  padding-left:10px;
  max-width:1000px;
}

.o-grid{
  margin-left:-10px;
  list-style:none;
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
}

.o-grid > .o-grid__col{
  padding-left:10px;
  width:100%;
  -webkit-box-sizing:inherit;
          box-sizing:inherit;
}

.o-grid{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-flow:row wrap;
          flex-flow:row wrap;
}

.o-grid > .o-grid__col{
  -webkit-box-sizing:inherit;
          box-sizing:inherit;
  -ms-flex-preferred-size:auto;
      flex-basis:auto;
  min-width:0;
}

.u-1\/12{
  width:8.33333333% !important;
}

.u-2\/12{
  width:16.66666667% !important;
}

.u-3\/12{
  width:25% !important;
}

.u-4\/12{
  width:33.33333333% !important;
}

.u-5\/12{
  width:41.66666667% !important;
}

.u-6\/12{
  width:50% !important;
}

.u-7\/12{
  width:58.33333333% !important;
}

.u-8\/12{
  width:66.66666667% !important;
}

.u-9\/12{
  width:75% !important;
}

.u-10\/12{
  width:83.33333333% !important;
}

.u-11\/12{
  width:91.66666667% !important;
}

.u-12\/12{
  width:100% !important;
}

@media screen and (min-width: 400px){
  .u-1\/12\@xs{
    width:8.33333333% !important;
  }

  .u-2\/12\@xs{
    width:16.66666667% !important;
  }

  .u-3\/12\@xs{
    width:25% !important;
  }

  .u-4\/12\@xs{
    width:33.33333333% !important;
  }

  .u-5\/12\@xs{
    width:41.66666667% !important;
  }

  .u-6\/12\@xs{
    width:50% !important;
  }

  .u-7\/12\@xs{
    width:58.33333333% !important;
  }

  .u-8\/12\@xs{
    width:66.66666667% !important;
  }

  .u-9\/12\@xs{
    width:75% !important;
  }

  .u-10\/12\@xs{
    width:83.33333333% !important;
  }

  .u-11\/12\@xs{
    width:91.66666667% !important;
  }

  .u-12\/12\@xs{
    width:100% !important;
  }
}

@media screen and (min-width: 768px){
  .u-1\/12\@sm{
    width:8.33333333% !important;
  }

  .u-2\/12\@sm{
    width:16.66666667% !important;
  }

  .u-3\/12\@sm{
    width:25% !important;
  }

  .u-4\/12\@sm{
    width:33.33333333% !important;
  }

  .u-5\/12\@sm{
    width:41.66666667% !important;
  }

  .u-6\/12\@sm{
    width:50% !important;
  }

  .u-7\/12\@sm{
    width:58.33333333% !important;
  }

  .u-8\/12\@sm{
    width:66.66666667% !important;
  }

  .u-9\/12\@sm{
    width:75% !important;
  }

  .u-10\/12\@sm{
    width:83.33333333% !important;
  }

  .u-11\/12\@sm{
    width:91.66666667% !important;
  }

  .u-12\/12\@sm{
    width:100% !important;
  }
}

@media screen and (min-width: 998px){
  .u-1\/12\@md{
    width:8.33333333% !important;
  }

  .u-2\/12\@md{
    width:16.66666667% !important;
  }

  .u-3\/12\@md{
    width:25% !important;
  }

  .u-4\/12\@md{
    width:33.33333333% !important;
  }

  .u-5\/12\@md{
    width:41.66666667% !important;
  }

  .u-6\/12\@md{
    width:50% !important;
  }

  .u-7\/12\@md{
    width:58.33333333% !important;
  }

  .u-8\/12\@md{
    width:66.66666667% !important;
  }

  .u-9\/12\@md{
    width:75% !important;
  }

  .u-10\/12\@md{
    width:83.33333333% !important;
  }

  .u-11\/12\@md{
    width:91.66666667% !important;
  }

  .u-12\/12\@md{
    width:100% !important;
  }
}

@media screen and (min-width: 1200px){
  .u-1\/12\@lg{
    width:8.33333333% !important;
  }

  .u-2\/12\@lg{
    width:16.66666667% !important;
  }

  .u-3\/12\@lg{
    width:25% !important;
  }

  .u-4\/12\@lg{
    width:33.33333333% !important;
  }

  .u-5\/12\@lg{
    width:41.66666667% !important;
  }

  .u-6\/12\@lg{
    width:50% !important;
  }

  .u-7\/12\@lg{
    width:58.33333333% !important;
  }

  .u-8\/12\@lg{
    width:66.66666667% !important;
  }

  .u-9\/12\@lg{
    width:75% !important;
  }

  .u-10\/12\@lg{
    width:83.33333333% !important;
  }

  .u-11\/12\@lg{
    width:91.66666667% !important;
  }

  .u-12\/12\@lg{
    width:100% !important;
  }
}

.u-color-white{
  color:#FFFFFF !important;
}

.u-color-black{
  color:#000000 !important;
}

.u-text-left{
  text-align:left !important;
}

.u-text-right{
  text-align:right !important;
}

.u-text-center{
  text-align:center !important;
}

.card{
  margin-bottom:1em;
  background-color:white;
  border-radius:5px;
  border:1px solid lightgray;
}

.card .card-title{
  padding:10px 20px;
  border-bottom:1px solid lightgray;
  border-top-right-radius:3px;
  border-top-left-radius:3px;
}

.card .card-body{
  padding:10px 20px;
}

.card .card-footer{
  padding:10px 20px;
  background-color:white;
  border-top:1px solid #dddddd;
  border-bottom-right-radius:3px;
  border-bottom-left-radius:3px;
}

